In [1]:
import pandas as pd
import numpy as np

In [141]:
train_data = pd.read_csv("train.csv", header = 0)
pred_data = pd.read_csv("test.csv", header = 0)
pred_data['Survived'] = 0
raw_data = pd.concat([train_data, pred_data])
raw_data.index = raw_data.PassengerId
train_data.tail();
pred_data.head();

In [142]:
train_num = train_data.PassengerId.iloc[-1];

In [143]:
raw_data;

In [144]:
raw_data = pd.get_dummies(raw_data, columns=["Sex","Embarked"], prefix=["Sex","Embarked"])
raw_data.Cabin = raw_data.Cabin.astype('category')
raw_data.Cabin = raw_data.Cabin.cat.codes
raw_data.head()

,Age,Cabin,Fare,Name,Parch,PassengerId,Pclass,SibSp,Survived,Ticket,Sex_female,Sex_male,Embarked_C,Embarked_Q,Embarked_S
PassengerId,,,,,,,,,,,,,,,
1,22.0,-1,7.2500,"Braund, Mr. Owen Harris",0,1,3,1,0,A/5 21171,0,1,0,0,1
2,38.0,106,71.2833,"Cumings, Mrs. John Bradley (Florence Briggs Th...",0,2,1,1,1,PC 17599,1,0,1,0,0
3,26.0,-1,7.9250,"Heikkinen, Miss. Laina",0,3,3,0,1,STON/O2. 3101282,1,0,0,0,1
4,35.0,70,53.1000,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",0,4,1,1,1,113803,1,0,0,0,1
5,35.0,-1,8.0500,"Allen, Mr. William Henry",0,5,3,0,0,373450,0,1,0,0,1

In [150]:
data = raw_data.select_dtypes(include=['int64','float64','uint8','int16']).copy()

In [151]:
train = data[:train_num]
pred = data[train_num:]

In [153]:
train.dtypes

Age            float64
Cabin            int16
Fare           float64
Parch            int64
PassengerId      int64
Pclass           int64
SibSp            int64
Survived         int64
Sex_female       uint8
Sex_male         uint8
Embarked_C       uint8
Embarked_Q       uint8
Embarked_S       uint8
dtype: object